<div class="wrapper-message">
  <div class="conversation-hero">
  <div class="conversation-title">
  <h1><%= @chat.ticket.title %></h1>
  <!--<% if current_user == @chat.sender %>
    <p><%= @chat.receiver.username %></p>
  <% elsif current_user == @chat.receiver %>
    <p><%= @chat.sender.username %></p>
  <% end %>-->
  </div>
  <div>
  <%= link_to "Start Video Call",  category_ticket_chat_video_path(params[:category_id], params[:ticket_id], @chat.id), class: "button-secondary-small" %>
  </div>
  </div>

<div id="messages" data-chat-id="<%= @chat.id %>">
  <% @chat.messages.each do |message| %>
    <%= render "messages/message", message: message %>
  <% end %>
</div>

<%= simple_form_for @message, url: category_ticket_chat_messages_path(params[:category_id], params[:ticket_id], params[:id]), remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Type a message..." %>
  <div class= "button-secondary-small" id="message-form">
    <%= f.button :submit %>
  </div>
<% end %>
</div>
