<div id="video-page-container">
  <p id="user-token"><%=  @token %></p>

  <div id="live-chat-container">
    <div class="video-container">
      <div id="local-media-container-id">
      </div>
      <div id="remote-media-div">

      </div>
    </div>
    <div class="chat-container">
      <div class="conversation-title">
        <h2><%= @chat.ticket.title %></h2>
      </div>
        <div id="messages" data-chat-id="<%= @chat.id %>">
          <% @chat.messages.each do |message| %>
            <div class="message-header">

            <%= render "messages/message", message: message, chat: @chat %>
            </div>
          <% end %>
        </div>
        <div class="chat-input">
          <%= simple_form_for @message, url: category_ticket_chat_messages_path(@chat.ticket.category, @chat.ticket, @chat), remote: true do |f| %>
            <%= f.input :content, label: false, placeholder: "Type a message..." %>
            <div class= "button-secondary-small" id="message-form">
              <%= f.button :submit %>
            </div>
          <% end %>
        </div>
    </div>

  </div>

  <div class="video-buttons-container">
    <div class="button-secondary-small" id="connect-button">
      <p>click</p>
    </div>
    <div class="button-secondary-small" id="share-button">
      <p>share</p>
    </div>
    <div class="button-secondary-small" id="end-button">
      <p>end</p>
    </div>
  </div>
</div>

