<div class="container-wrap">
  <div class="header">
    <div class="circle-container">
    <div class="bigger-cirle"style='background-color: <%= @category.colour %>;'></div>
    <h1><%=@category.name %> </h1>
    </div>
    <%= link_to 'Create a ticket', new_category_ticket_path(params[:category_id]), class: 'button-main create-a-ticket'  %>
  </div>

  <div class="cards-tickets">
    <% @tickets.reverse.each do |ticket| %>
    <div class="card-ticket">
      <div class="ticket-header">
        <h2> <%= ticket.title %></h2>
        <p> <%= ticket.created_at.strftime("%l:%M%p") %> </p>
      </div>
      <p> <%= ticket.description %> </p>
      <div class="ticket-creator">
        <% if ticket.user.user_information.photo.attached? %>
           <%= cl_image_tag ticket.user.user_information.photo.key, class: 'profile-image' %>
        <% else %>
          <%= image_tag 'https://res.cloudinary.com/dc0boljmu/image/upload/v1598961887/placeholder_opar57.jpg', class: 'profile-image' %>
        <% end %>
        <p> <%= ticket.user.username %> </p>
      </div>


     <%= link_to 'Get more details', category_ticket_path(@category.id, ticket.id), class: "button-secondary-small" %>
    </div>
    <% end %>
  </div>


</div>
