<div class="container-wrap">
  <div class="header">
    <div class="circle-container">
    <div class="bigger-cirle" style='background-color: <%= @category.colour %>;'></div>
    <h1><%=@category.name %> </h1>
    </div>
    <div class="button-wrapper">
    <%= link_to 'Create a ticket', new_category_ticket_path(params[:category_id]), class: 'button-main-small'  %>
    </div>
  </div>

  <div class="cards-tickets">
    <% @tickets.each do |ticket| %>
    <div class="card-ticket">
      <h2> <%= ticket.title %></h2>
     <p> <%= @category.name %> </p>
     <%= link_to 'Get more details', category_ticket_path(@category.id, ticket.id), class: "button-secondary-small" %>
    </div>
    <% end %>
  </div>
</div>
