<div class="container-wrap">
  <h1>Ticket info</h1>

  <%= @ticket.title %>
  <%= @ticket.description %>
  <%= @category.name %>
  <%= link_to "Contact User", user_chats_path(current_user.id, ticket_owner: @ticket.user), method: :post %>
</div>

<div class="button-main">
  <%= link_to "Close Ticket", category_ticket_path(@category, @ticket), method: :delete %>
</div>
