<% if params[:display_question] == "true" %>
<!-- WIP : Button trigger modal -->
<div class="modal-background"> </div>

  <div class="modal-positioning">


       <div class="modal-display">
        <div class="modal-headline">
          <h2>Did this call solve your problem?</h2>
          <p>If yes, feel free to close the ticket. If not, just keep the ticket.</p>
          <%= link_to "Keep Ticket", filtered_category_tickets_path(@category), class: "button-secondary-small", id: "close-button" %>
          <%= link_to "Close Ticket", category_ticket_path(@category, @ticket), method: :delete, class: "button-main-small", id: "close-button" %>
        </div>
    </div>
  </div>
<% end %>


<div class="container-wrap">
  <div class= 'ticket-info'>
    <h1 class='ticket-title'><%= @ticket.title %></h1>
    <% if current_user.email != @ticket.user.email %>
      <div>
      <%= link_to "Contact User", category_ticket_chats_path(params[:category_id], params[:id], ticket_owner: @ticket.user), method: :post, class: 'button-main-small' %>
      </div>
    <% end %>
  </div>
  <div id="ticket-description">
    <p><%= @ticket.description %></p>
    <div class="line"></div>
    <div class="ticket-end">
      <p class = "ticket-category" id="category-show"> <%= @category.name %> </p>
      <div class = "posted-dot">
        <p class='ticket-username'> Posted by <%= @user.username %> </p>
        <div class="dot-online">
          <% if @user.user_information.online == true %>
          <div class="online" style='background-color: #299a0b'></div>
          <% else %>
          <div class="online" style='background-color: #ff3019'></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="line"></div>
  </div>
<% if current_user.email == @ticket.user.email %>
  <div class="buttons ticket-buttons">
    <%= link_to "Update Ticket", edit_category_ticket_path(@category, @ticket), class: "button-secondary-small", id: "update-button" %>
    <%= link_to "Close Ticket", category_ticket_path(@category, @ticket), method: :delete, class: "button-secondary-small", id: "close-button" %>
  </div>
<% end %>
</div>
