<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag 'favicon.png'%>
    <title>Tindev</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

    <div id="footer">
      <div id="footer-container">
        <div class="footer-column">
          <%= image_tag 'Tindev.svg', class: "footer-logo"%>
          <ul>
            <li>Copyright 2020 Tindev GmbH.</li>
            <li>All rights reserved.</li>
          </ul>
        </div>
        <div class="footer-column">
          <h6>Company</h6>
          <ul>
            <li><%= link_to "Video Chat", "/", class: "footer-link" %></li>
            <li><%= link_to "Channel", "/", class: "footer-link" %></li>
            <li><%= link_to "Blog", "/", class: "footer-link" %></li>
            <li><%= link_to "Jobs", "/", class: "footer-link" %></li>
            <li><%= link_to "What's New", "/", class: "footer-link" %></li>
          </ul>
        </div>
        <div class="footer-column">
          <h6>Legal</h6>
          <ul>
            <li><%= link_to "Legal Notice", "/", class: "footer-link" %></li>
            <li><%= link_to "Privacy Policy", "/", class: "footer-link" %></li>
            <li><%= link_to "Terms of Use", "/", class: "footer-link" %></li>
          </ul>
        </div>
        <div class="footer-column">
          <h6>Follow Us</h6>
          <ul class="inline-icons">
            <li>
              <%= link_to "#", class: "footer-icon" do %>
                <%= image_tag 'github.svg' %>
              <% end %>
            </li>
            <li>
              <%= link_to "#", class: "footer-icon" do %>
                <%= image_tag 'twitter.svg' %>
              <% end %>
            </li>
            <li>
              <%= link_to "#", class: "footer-icon" do %>
                <%= image_tag 'instagram.svg' %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <script src="//media.twiliocdn.com/sdk/js/video/releases/2.7.2/twilio-video.min.js"></script>

  </body>
</html>
