<div id="profile-page-container">
  <div class="profile-info-container">
    <div class="profile-info-main">
      <div class="profile-info-main-image">
        <div class="profile-image-container">
            <% if @user_info.photo.attached? %>
               <%= cl_image_tag @user_info.photo.key, class: 'profile-image' %>
            <% else %>
              <%= image_tag 'https://res.cloudinary.com/dc0boljmu/image/upload/v1598961887/placeholder_opar57.jpg', class: 'profile-image' %>
            <% end %>
        </div>
      </div>
      <div class="profile-info-main-content">
        <div class="profile-headline">
          <h1><%= @user.username %></h1>
          <div class="profile-links">
            <%= link_to "Update Profile", edit_user_information_path, class: 'button-secondary-small' %>
          </div>
        </div>
        <div class="profile-links">
          <div class="user-online">
            <% if @user_info.online %>
              <h6 class="online-badge">Online</h6>
            <% else %>
              <h6 class="offline-badge">Offline</h6>
            <% end %>
          </div>
        </div>
      </div>

    </div>
    <div class="profile-info-other">
      <div class="profile-info-wrapper">
        <div class="profile-info-type">
          <h4>Bio</h4>
        </div>
        <div class="profile-info-text">
          <h4 class="bio-text extra-space"><%= @user_info.bio %></h4>
        </div>
      </div>
      <div class="profile-info-wrapper">
        <div class="profile-info-type">
          <h4>Github</h4>
        </div>
        <div class="profile-info-text">
          <h4 class="bio-text"><%= @user_info.github %></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-tickets-container">

  </div>


  <div class="user-tickets-container">

    <div class="user-tickets-headline">
      <h4><%= @user.username %>'s Tickets</h4>
    </div>

    <div class="cards-tickets">
      <% @user.tickets.each do |ticket| %>
      <div class="card-ticket">
        <h2> <%= ticket.title %></h2>
        <%= link_to "See Ticket", category_ticket_path(ticket.category, ticket) %>
      </div>
      <% end %>
    </div>

  </div>

</div>










