<div id="profile-page-container">
  <div class="profile-image-container">
    <% if @user_info.photo.key %>
       <%= cl_image_tag @user_info.photo.key, crop: :fill, class: 'profile-image' %>
    <% else %>
      <%= image_tag 'Tindev.svg' %>
    <% end %>

  </div>
  <h4><%= @user_info.user.email %></h4>
  <h4><%= @user_info.bio %></h4>
  <h4><%= @user_info.github %></h4>
  <h4><%= @user_info.online %></h4>


  <% @user.tickets.each do |ticket| %>
    <h4><%= ticket.title %></h4>
    <%= link_to "See Ticket", category_ticket_path(ticket.category, ticket) %>
  <% end %>
</div>





<div class="container-wrap">
    <h1 class="hero-content form">Update profile info
      <div class="subheadline-line form"></div></h1>

<div class="circle"></div>
<div class="ticket form">
       <%= simple_form_for @user_info do |f| %>

 <div class="form-inputs">

    <%= f.input :photo, as: :file %>

     </div>

     <div class="form-actions button-main-small">
      <%= f.button :submit, "Submit" %>
    </div>
    <% end %>
  </div>
</div>
