<div id="profile-page-container">
  <div class="profile-image-container">
      <% if @user_info.photo.attached? %>
         <%= cl_image_tag @user_info.photo.key, class: 'profile-image' %>
      <% else %>
        <%= image_tag 'https://res.cloudinary.com/dc0boljmu/image/upload/v1598961887/placeholder_opar57.jpg', class: 'profile-image' %>
      <% end %>
  </div>




  <h4><%= @user_info.user.email %></h4>
  <h4><%= @user_info.bio %></h4>
  <h4><%= @user_info.github %></h4>
  <h4><%= @user_info.online %></h4>


  <% @user.tickets.each do |ticket| %>
    <h4><%= ticket.title %></h4>
    <%= link_to "See Ticket", category_ticket_path(ticket.category, ticket) %>
  <% end %>
</div>


<%= link_to "Update Profile", edit_user_information_path %>

<!--
<div class="container-wrap">
  <div class="ticket form">
       <%= simple_form_for @user_info do |f| %>

  <div class="form-inputs">
    <% f.input :bio %>
    <%= f.input :photo, as: :file %>
  </div>
  <div class="form-actions button-main-small">
    <%= f.button :submit, "Submit" %>
  </div>
    <% end %>
  </div>
</div>
 -->
